<!DOCTYPE html>
<html>

    <head>
        <title>{{title}}</title> 
        <link rel="icon" href="/img/calendar-img.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
            <p>Is there something I can help you with?</p>
        </div>
        {{>footer}}
    </body>

</html>